#map {
    display: flex;
    flex-direction : row
}

.floor {
    position  : relative;
    margin    : 0 auto;
    display: block;
    background: gray;
    box-sizing: border-box;
}

.square {
    height    : 100px;
    width     : 100px;
    background: gray;
    margin    : 2px;
    position  : absolute;
    top       : 10px;
    left      : 10px;
    box-sizing: border-box;
}